{% extends 'base.html.twig' %}

{% block title %}Product{% endblock %}

{% block body %}
    
    <main>
        <div class="top">
            <div class="link">
                <a href="{{ path('app_product_index') }}">Go Back</a>
            </div>
            <h1>Product Detail</h1>
        </div>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ product.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ product.name }}</td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>$ {{ product.price }}</td>
                </tr>
                <tr>
                    <th>Stock</th>
                    <td>{{ product.stock }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ product.description }}</td>
                </tr>
                <tr>
                    <th>CreatedAt</th>
                    <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table>

    </main>

    
{% endblock %}
